{% extends "base.html" %}
{% block content %}
<h2>{{title}}</h2>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <!--<th>ID</th>-->
            <th>日期</th>
            <th>項目</th>
            <th>流向</th>
            <th>金額</th>
            <th>功能</th>
          </tr>
        </thead>
        {% for record in records %}
            <tr>
              <!--<td>{{ record.id }}</td>-->
                <td>{{ record.purch_date }}</td>
                <td><a href="/edit_record/{{ record.id }}">{{ record.item }}</a></td>
                <td>{{ record.flow_type }}</td>
                <td>{{ record.amount }}</td>
                <td><a href="/delete_record/{{ record.id}}"><span class='glyphicon glyphicon-remove'></span></a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
