{% extends "base.html" %}

{% block content %}
    <h2>{{title}}</h2>
    {#{% load crispy_forms_tags %}#}
    {#{% crispy record_form %}#}
    <form action="." method="post">
      <!--<div class="form-group">-->
      {% csrf_token %}
        <table class="table">
          {{ record_form.as_table }}
        </table>
        <input class="btn btn-success" type="submit" value="送出">
        <a href="{%url 'list_record'%}" class="btn btn-warning">取消</a>
      <!--</div>-->
    </form>

{% endblock %}
